<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">

<dict>
	<key>CFBundleIdentifier</key>
	<string>com.rahlir.NumiCalculate</string>
	<key>CFBundleName</key>
	<string>Numi Calculate</string>
	<key>CFBundleVersion</key>
	<string>0.9</string>
	<key>CFBundleIconFile</key>
	<string>com.nikolaeu.numi</string>

	<key>LBRequiredApplication</key>
	<string>com.nikolaeu.numi</string>
	<key>LBDebugLogEnabled</key>
	<false/>

	<key>LBScripts</key>
	<dict>
		<key>LBDefaultScript</key>
		<dict>
			<key>LBScriptName</key>
			<string>default.js</string>
			<key>LBAcceptedArgumentTypes</key>
			<array>
				<string>string</string>
			</array>
			<key>LBReturnsResult</key>
			<true/>
			<key>LBLiveFeedbackEnabled</key>
			<true/>
		</dict>
	</dict>

	<key>LBDescription</key>
	<dict>
		<key>LBAuthor</key>
		<string>Tadeas Uhlir</string>
		<key>LBEmail</key>
		<string>tadeas.uhlir@gmail.com</string>
		<key>LBSummary</key>
		<string>Insert expression for Numi calculation and get the result right through the LaunchBar. Numi is much more powerful than the standard LaunchBar calculator.</string>
		<key>LBArgument</key>
		<string>Numi expression to be calculated</string>
		<key>LBRequirements</key>
		<string>Requires Numi app to be installed</string>
	</dict>
</dict>
</plist>
