<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>com.rahlir.NumiCalculate</string>
	<key>CFBundleName</key>
	<string>Numi Calculate</string>
	<key>CFBundleVersion</key>
	<string>0.1</string>
	<key>LBScripts</key>
	<dict>
		<key>LBDefaultScript</key>
		<dict>
			<key>LBScriptName</key>
			<string>default.js</string>
			<key>LBAcceptedArgumentTypes</key>
			<array>
				<string>string</string>
			</array>
			<key>LBReturnsResult</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
